:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-drayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 97%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: center top;
}

p {
  color: var(--grayish-blue);
}

.lead-text-s {
  font-size: 1rem;
  line-height: 1.6rem;
  padding-bottom: 3rem;
}

.lead-text-xs {
  font-size: 0.95rem;
  line-height: 1.6rem;
  padding-bottom: 3rem;
}

.hero-title,
.track-head-title,
.desc-access-title {
  font-size: 1.9rem;
  color: var(--dark-grayish-blue);
  line-height: 2.25rem;
  padding-bottom: 1rem;
}

.wrapper {
  margin: 0 auto;
  padding: 2.15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero,
.desc-track,
.desc-access,
.partner-companies,
.download-info {
  padding-bottom: 8.5rem;
}

.hero-btn-download,
.download-btn-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track-head-title,
.desc-access-title,
.desc-super-title,
.super-details-title {
  font-size: 1.75rem;
  line-height: 2rem;
  padding-bottom: 1.25rem;
}

/**** HERO ****/

.hero-logo {
  padding: 5.75rem 0 3.25rem 0;
}

.hero-heading-text {
  max-width: 554px;
}

.hero-lead {
  font-size: 1rem;
}

.btn-download {
  padding: 0.9em 5.15em;
  max-width: 300px;
  border-radius: 50px;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 1.5rem;
  box-shadow: 1px 1px 5px var(--dark-drayish-blue);
}

.btn-ios {
  background-color: var(--strong-cyan);
}

.btn-mac {
  background-color: var(--light-blue);
}

/**** SECTION - APP DECRIPTION ****/

.desc-track-head {
  padding-bottom: 3.75rem;
  max-width: 608px;
  margin: 0 auto;
}

.desc-access-head {
  max-width: 608px;
  margin: 0 auto;
}

.desc-track-img {
  padding-bottom: 2.7rem;
}

.details-div-title {
  font-size: 1.5rem;
  padding-bottom: 0.65rem;
}

.track-details-div {
  padding-bottom: 3rem;
  max-width: 336px;
  margin: 0 auto;
}

.desc-super-details {
  padding-top: 2rem;
}

.super-details-title {
  font-size: 1.5rem;
}

.super-details-div {
  padding-bottom: 4rem;
  max-width: 320px;
  margin: 0 auto;
}

.super-details-icon {
  padding-bottom: 2rem;
}

/**** SECTION - PARTNER ****/
.partner-lists {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/**** SECTION - DOWNLOAD ****/
.download-head {
  max-width: 600px;
}

/**** FOOTER ****/

.footer-nav {
  background-color: var(--light-gray);
}

.footer-logo {
  width: 56px;
  height: auto;
}

.footer-logo-sm {
  padding: 2rem;
}

.nav-item-lists {
  display: flex;
  flex-direction: column;
  gap: 1.65rem;
  padding-bottom: 3rem;
}

.nav-item-list {
  font-size: 1.1rem;
}

.footer-nav-socials {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  gap: 1rem;
}

.fa-brands {
  color: var(--dark-grayish-blue);
}

/**** ACTIVE STATE ****/
.btn-download:hover {
}

footer a:hover {
  color: var(--strong-cyan);
}

@media (width >= 1024px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
  }

  .lead-text-xs {
    font-size: 0.9rem;
  }

  .hero-btn-download,
  .download-btn-download {
    flex-direction: row;
    gap: 1rem;
  }

  .btn-download {
    padding: 0.5em 1.75em;
  }

  .flex-column {
    display: flex;
  }

  .desc-track-details {
    text-align: start;
  }

  .track-img {
    margin-left: -10rem;
  }

  .desc-track-img {
    padding-right: 1em;
  }

  .details-div-lead {
    padding-bottom: 0;
  }

  .details-div-title,
  .super-details-title {
    font-size: 1.15rem;
  }

  .desc-super-details {
    display: flex;
    gap: 1rem;
  }

  .super-details-div:nth-of-type(1) {
    margin-top: -9px;
  }

  .partner-lists {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    padding: 0;
  }

  .footer-items {
    display: flex;
  }

  .nav-item-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0;
    gap: 0.5rem;
    text-align: left;
    margin-left: -5rem;
  }

  .nav-item-list {
    font-size: 0.85rem;
    padding-right: 3rem;
  }

  .nav-item-list:nth-of-type(2) {
    grid-row: 2;
  }
  .nav-item-list:nth-of-type(4) {
    grid-row: 2;
  }

  .footer-nav-socials {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0;
  }
}
